<table class="main-table table table-hover">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "state" %></th>
      <th><%= sortable "start date" %></th>
    </tr>
  </thead>
  <tbody id="content">
  
  </tbody>
</table>
