$( document ).ready(function() {
  var json_array;
  var festivals;

  json_array = <%= raw @hash.to_json %>;
  festivals = <%= raw @fetched_festivals.to_json %>;

   
  function createSidebarLi(json){
    return ("<li><a>" + json.name + "</a></li>");
  };
  
  function bindLiToMarker($li, marker){
    $li.on('click', function(){
      handler.getMap().setZoom(14);
      marker.setMap(handler.getMap()); 
      marker.panTo();
      google.maps.event.trigger(marker.getServiceObject(), 'click');
    })
  };
  
  function createSidebar(json_array){
    console.log("json array:" + json_array);
    _.each(json_array, function(json){
      var $li = $( createSidebarLi(json) );
      $li.appendTo('#sidebar_container');
      bindLiToMarker($li, json.marker);
    });
  };
  
  handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'sidebar_builder'}}, function(){
    var json_array = <%= raw @hash.to_json %>;
    var festivals = <%= raw @fetched_festivals.to_json %>;

    console.log("here's the array:"+json_array);
    console.log("here's the fetched festivals:"+ festivals);

    var markers = handler.addMarkers(json_array);
  
    _.each(json_array, function(json, index){
        json.marker = markers[index];
    });
  
  createSidebar(json_array);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  });
  
});