var fetchedFestivals = <%= raw @fetched_festivals.to_json %>;
var markerHash = <%= raw @hash.to_json %>; 
handler.removeMarkers(markers); 
handler.resetBounds();
markers = handler.addMarkers(markerHash);
handler.bounds.extendWith(markers);
handler.fitMapToBounds(); 
handler.getMap().setZoom(10);
$(".main-table").html("<%=j render :partial =>'layouts/table' %>") 


<!--$(".main-table tr:gt(0)").remove();-->

<!--$(fetchedFestivals).each(function(index, value) {-->
<!--  var element = document.createElement('tr');-->
<!--  $(element).data('dataItem', this);-->
<!--  var html = '<td>' + value.title + '</td>' +-->
<!--            '<td>' + value.venue_name + '</td>';-->
<!--$(element).html(html); -->
<!--$('.main-table #content').append($(element)); //append your new tr-->
<!--console.log('4');-->
