<script type="text/javascript" >
$( document ).ready(function() {
 
   	var pos;
	  var userCords;
	 // var newMarkers;
	 // var fetchedFestivals;
	 // var type;
	 // var path;
		//Start geolocation
		// var toType = function(obj) {
  // 		return ({}).toString.call(obj).match(/\s([a-zA-Z]+)/)[1].toLowerCase()
		// }
		$('td').on('click', function (e) {
    	myRowIndex = $(this).parent().index();
  		  e.stopPropagation();
		  	handler.getMap().setZoom(10);
		  	map.setCenter(markers[1].getPosition());
		});
		
		if (navigator.geolocation) {    
			function error(err) {
			  console.warn('ERROR(' + err.code + '): ' + err.message);
			}
			function success(pos){
			 	userCords = pos.coords;
				return userCords;
			}
			// Get the user's current position
			navigator.geolocation.getCurrentPosition(success, error);
		} else {
				alert('Geolocation is not supported in your browser');
		}
	  
	  $("#use-geo").on('click', function(){
	  		  var latlong = { lat:userCords.latitude, long:userCords.longitude};
	  	    console.log("latlong:" + latlong);
	  	    $.ajax({
	  			  url: '/festivals/near_latlong',
	    			data: latlong,
	    			type: "GET",
	    			dataType: 'script'
					});
	  });
	  
	  $("#use-music-festival-geo").on('click', function(){
	  		  var latlong = { lat:userCords.latitude, lng:userCords.longitude};
	  	    console.log("latlong:" + latlong.lat + latlong.lng);
           //change map's center to focus on user's geoloc if asked
           handler.map.centerOn(latlong);
           handler.getMap().setZoom(10);
		  	
           
	  });

		
    function createSidebarLi(json){
      var table_row = '<tr><td>' + json.infowindow + '</td></tr>';
      return (table_row);
    };
    
    
    
    function bindLiToMarker($tr, marker){
      $tr.on('click', function(){
        handler.getMap().setZoom(14);
        marker.setMap(handler.getMap()); 
        marker.panTo();
        google.maps.event.trigger(marker.getServiceObject(), 'click');
      });
      console.log("pre-click function");
      // google.maps.event.addListener(Gmaps4Rails.markers[0].google_object, 'click', function(object){ alert("hello"); });
      google.maps.event.addListener(marker.getServiceObject(), 'click', function(){
         $tr.addClass('table-bg-active').siblings().removeClass('table-bg-active');
      });
     
    };
    
    function createSidebar(json_array){
      console.log("json array:" + json_array);
      _.each(json_array, function(json){
        var $tr = $( createSidebarLi(json) );
        $tr.appendTo('.main-table #content');
        bindLiToMarker($tr, json.marker);
      });
    };
    
    handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'map'}}, function(){
      json_array = <%= raw @hash.to_json %>;
      var festivals = <%= raw @fetched_festivals.to_json %>;
  
      console.log("here's the array:"+json_array);
      console.log("here's the fetched festivals:"+ festivals);
  
      var markers = handler.addMarkers(json_array);
    
      _.each(json_array, function(json, index){
          json.marker = markers[index];
      });
    
    createSidebar(json_array);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });
   
    
 
		
});	
  
</script>

