<script type="text/javascript" >
$( document ).ready(function() {
		var json_array;
    function createSidebarLi(json){
      var table_row = '<tr><td>' + json.infowindow + '</td></tr>';
      return (table_row);
    };
    
    
    
    function bindLiToMarker($tr, marker){
      $tr.on('click', function(){
        handler.getMap().setZoom(14);
        marker.setMap(handler.getMap()); 
        marker.panTo();
        google.maps.event.trigger(marker.getServiceObject(), 'click');
      });
      console.log("pre-click function");
      // google.maps.event.addListener(Gmaps4Rails.markers[0].google_object, 'click', function(object){ alert("hello"); });
      google.maps.event.addListener(marker.getServiceObject(), 'click', function(){
         $tr.addClass('table-bg-active').siblings().removeClass('table-bg-active');
      });
     
    };
    
    function createSidebar(json_array){
      console.log("json array:" + json_array);
      _.each(json_array, function(json){
        var $tr = $( createSidebarLi(json) );
        $tr.appendTo('.main-table #content');
        bindLiToMarker($tr, json.marker);
      });
    };
    
    handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'map'}}, function(){
      json_array = <%= raw @hash.to_json %>;
      var festivals = <%= raw @fetched_festivals.to_json %>;
  
      console.log("here's the array:"+json_array);
      console.log("here's the fetched festivals:"+ festivals);
  
      var markers = handler.addMarkers(json_array);
    
      _.each(json_array, function(json, index){
          json.marker = markers[index];
      });
    
    createSidebar(json_array);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });
   
    
 
		
});	
  
</script>

